/* Import */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Variables */

$primary-font-color: hsl(215, 51%, 70%); // Font Color
$highlight-font-color: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%); // Background Color
$card-bg: hsl(216, 50%, 16%);

$divider-color: hsla(215, 32%, 27%, 100%); // Divider Color

$white: hsl(0, 0%, 100%); // Neutral

/* Font Sizes Variables */

$p-size: 18px;
$title-size: 22px;

/* Font Type Variable */

$outfit: 'Outfit', sans-serif;

* { // Reset
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $outfit; // Standard Font-familys
    color: $primary-font-color;
    font-weight: 200;
}

body {
    background-color: $main-bg;
    .container {
        max-height: 100vh;
        margin: 4rem 2rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $card-bg;
        border-radius: 1rem;
        .image {
            max-width: 100%;
            border-radius: .7rem;
        }
        .image-hover {
            display: none;
        }
        .image-title {
            margin: 1.5rem 0 1rem 0;
            min-width: 100%;
            font-size: $title-size;
            font-weight: 500;
            color: $white;
        }
        .image-desc {
            margin-bottom: 1rem;
            line-height: 1.5rem;
        }
        .container__auction {
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .auction__price {
                display: flex;
                align-items: center;
                gap: .5rem;
                .price-value {
                    color: $highlight-font-color;
                    font-weight: 600;
                }
            }
            .auction__time {
                display: flex;
                align-items: center;
                gap: .5rem;
                .time-value {
                    font-weight: 400;
                }
            }
        }
        .divider {
            min-width: 100%;
            border-top: 1px solid $divider-color;
            margin: 1rem;
        }
        .container__creator {
            display: flex;
            align-items: center;
            gap: 1rem;
            .creator-img {
                max-width: 12%;
                border: 1px solid $white;
                border-radius: 50%;
            }
            .creator-name {
                font-weight: 300;
                .creator-highlight {
                    color: $white;
                    font-weight: 300;
                }
            }
        }
    }
}

@media screen and (min-width: 376px) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            max-width: 290px;
            .container__image {
                position: relative;
                cursor: pointer;
                &::before { 
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 99%;
                    background-color: rgba(255, 0, 0, 0);
                    opacity: 0;
                    border-radius: .7rem;
                    transition: .5s ease;
                }
                &:hover::before {
                    background-color: $highlight-font-color;
                    opacity: 0.5;
                }
                .image-hover {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover .image-hover {
                    display: block;
                }
            }
            .image-title:hover {
                color: $highlight-font-color;
                cursor: pointer;
            }
            .creator-highlight:hover {
                color: $highlight-font-color !important;
                cursor: pointer;
            }
        }
    }
}
