/* Variables */

$primary-font-color: hsl(215, 51%, 70%); // Font Color
$highlight-font-color: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%); // Background Color
$card-bg: hsl(216, 50%, 16%);

$divider-color: hsl(215, 32%, 27%); // Divider Color

$white: (0, 0%, 100%); // Neutral

/* Font Sizes Variables */

$p-size: 18px;
$title-size: 24px;

